.single-chart {
  width: 60%;
  //height: 100px;
  //margin-bottom: 30%;
  margin: auto;
  /* justify-content: space-around ; */
}

.circle-bg {
  fill: none;
  stroke: #575757;
  stroke-width: 3.8;
}

.circle, .circle2 {
  fill: none;
  stroke-width: 3.5;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle2 {
  stroke-width: 1.4;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.primary-color .circle2 {
  stroke: #ffffff;
}
.percentage {
  fill: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 0.45em;
  text-anchor: middle;
}
